.jumbotron {
  background-color: #4d88ff;
}

html, body {
  height:100%;
  margin:0;
  padding:0;
}

#map {
  height: 100%;
}


/*.first {
  padding-top:50px;height:275px;color: #fff; background-color: #ccddff;
}*/